<html>
  <a href="{{login_url}}">{{login_text}}</a><br>
  <h1>
    {{ welcome }}
  </h1>
<a href="/createBlog">Create Blog</a><br>
<div style="{{display1}}">
<a href="/manageBlog">Manage Blog</a><br>
<a href="/writePost">Write Post</a><br>
<a href="/uploadImage">Upload Image</a><br>
</div>
<h3>
  Tags:
	{%for tag in tags%}
	<a href = "/viewBlog?tag={{tag}}">{{tag}} </a>
        {%endfor%}

</h3>
  <h3>
     Bloglist:</br>
  </h3>
  {% for blog in blogs %}
  <a href="/viewBlog?blogName={{blog.blogName}}&owner={{blog.owner}}">{{blog.blogName}} from {{blog.owner}}</a></br>
  {% endfor %}
</html>