<html>
  <a href="/">return to home page</a></br>
  <a href="/createBlog">Create Blog</a><br>
  <div style="display:{{display_user_panel}}">
  <a href="/manageBlog">Manage Blog</a><br>
  <a href="/writePost">Write Post</a><br>
  </div>

<h3> Posts in {{blogName}}:</h3>
  {% for post in posts%}
	<h4>Title: {{post.title}}   <a href="/viewPost?blogName={{post.blogName}}&owner={{post.owner}}&title={{post.title}}">view</a> 
	
	<div style="display:{{display_edit}}">
	<a href="/writePost?blogName={{post.blogName}}&owner={{post.owner}}&title={{post.title}}">edit</a> 
	<a href="/addTag?blogName={{post.blogName}}&owner={{post.owner}}&title={{post.title}}">add tag</a>
	</div> </br> 
	</h4>
		Create at {{post.date}}</br>
		Last modified at {{post.modifydate}}</br>
	           
		<p>{{post.content|safe}}</p>
		   Tags:
		   {%for tag in post.tags%}
			{{tag}}
		   {%endfor%}
	
  {% endfor %}

<div style="display:{{display_nextpage}}">
<form action="/viewBlog?{{nextblogName}}{{nextowner}}{{tagPageNext}}" method=post>
<input type ="hidden" name = "pageno" value="{{page}}"/>
<input type="submit" value="next page" />
</form>
</div>
</html>